In [9]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("survey_results_public.csv")

In [7]:
df = df[["Country","EdLevel","YearsCodePro","Employment","ConvertedComp"]]
df = df.rename({"ConvertedComp":"Salary"},axis=1)
df.head()

KeyError: "['ConvertedComp'] not in index"

In [9]:
df = df[df["Salary"].notnull()]
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
7,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,Employed full-time,116000.0
9,United Kingdom,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",4,Employed full-time,32315.0
10,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,Employed full-time,40070.0
11,Spain,Some college/university study without earning ...,7,Employed full-time,14268.0
12,Netherlands,"Secondary school (e.g. American high school, G...",20,Employed full-time,38916.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34756 entries, 7 to 64154
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       34756 non-null  object
 1   EdLevel       34188 non-null  object
 2   YearsCodePro  34621 non-null  object
 3   Employment    34717 non-null  object
 4   Salary        34756 non-null  float64
dtypes: float64(1), object(4)
memory usage: 1.6+ MB

In [11]:
df = df.dropna()
df.isnull().sum()

Country         0
EdLevel         0
YearsCodePro    0
Employment      0
Salary          0
dtype: int64

In [13]:
df = df[df["Employment"] == "Employed full-time"]
#df.head()
df = df.drop("Employment",axis=1)
df.head()

,Country,EdLevel,YearsCodePro,Salary
7,United States,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",13,116000.0
9,United Kingdom,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",4,32315.0
10,United Kingdom,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,40070.0
11,Spain,Some college/university study without earning ...,7,14268.0
12,Netherlands,"Secondary school (e.g. American high school, G...",20,38916.0

In [15]:
df['Country'].value_counts()

United States     7569
India             2425
United Kingdom    2287
Germany           1903
Canada            1178
                  ...
Benin                1
Fiji                 1
San Marino           1
Guinea               1
Andorra              1
Name: Country, Length: 154, dtype: int64

In [27]:
def shorten_categories(categories,cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:categorical_map[categories.index[i]] = 'Other'
    return categorical_map

In [28]:
print(

[7569 2425 2287 1903 1178  991  972  670  659  654  566  560  522  514
  327  300  271  266  256  253  252  249  246  244  229  220  219  218
  215  208  196  182  181  176  174  162  159  159  140  117  116  116
  110  106  104   97   93   90   86   85   84   81   80   74   73   71
   67   62   62   57   52   48   46   44   41   41   39   37   28   28
   28   27   26   26   25   25   24   23   23   23   23   22   21   21
   20   20   20   19   18   17   17   16   15   15   14   13   12   12
   12   12   12   12   11   11   11   10    8    8    8    8    7    6
    6    6    5    5    5    5    5    4    4    4    4    4    4    3
    3    3    3    3    3    3    3    2    2    2    2    2    1    1
    1    1    1    1    1    1    1    1    1    1    1    1    1    1]

In [29]:
country_map = shorten_categories(df.Country.value_counts(),400)
print (type(country_map))
print(country_map)

<class 'dict'>
{'United States': 'United States', 'India': 'India', 'United Kingdom': 'United Kingdom', 'Germany': 'Germany', 'Canada': 'Canada', 'Brazil': 'Brazil', 'France': 'France', 'Spain': 'Spain', 'Australia': 'Australia', 'Netherlands': 'Netherlands', 'Poland': 'Poland', 'Italy': 'Italy', 'Russian Federation': 'Russian Federation', 'Sweden': 'Sweden', 'Turkey': 'Other', 'Israel': 'Other', 'Pakistan': 'Other', 'Switzerland': 'Other', 'Mexico': 'Other', 'Ireland': 'Other', 'Norway': 'Other', 'Ukraine': 'Other', 'Romania': 'Other', 'South Africa': 'Other', 'Czech Republic': 'Other', 'Austria': 'Other', 'Belgium': 'Other', 'Iran': 'Other', 'Portugal': 'Other', 'Denmark': 'Other', 'Finland': 'Other', 'Argentina': 'Other', 'Hungary': 'Other', 'New Zealand': 'Other', 'Greece': 'Other', 'Japan': 'Other', 'Bangladesh': 'Other', 'Bulgaria': 'Other', 'Colombia': 'Other', 'Serbia': 'Other', 'Indonesia': 'Other', 'Philippines': 'Other', 'Nigeria': 'Other', 'Singapore': 'Other', 'Lithuania': 'Other', 'Sri Lanka': 'Other', 'Chile': 'Other', 'China': 'Other', 'Viet Nam': 'Other', 'Croatia': 'Other', 'Malaysia': 'Other', 'Estonia': 'Other', 'Slovenia': 'Other', 'Egypt': 'Other', 'South Korea': 'Other', 'Nepal': 'Other', 'Taiwan': 'Other', 'Slovakia': 'Other', 'Belarus': 'Other', 'Latvia': 'Other', 'Uruguay': 'Other', 'United Arab Emirates': 'Other', 'Kenya': 'Other', 'Peru': 'Other', 'Thailand': 'Other', 'Hong Kong (S.A.R.)': 'Other', 'Dominican Republic': 'Other', 'Bosnia and Herzegovina': 'Other', 'Iceland': 'Other', 'Costa Rica': 'Other', 'Kazakhstan': 'Other', 'Malta': 'Other', 'Republic of Korea': 'Other', 'Cyprus': 'Other', 'Ghana': 'Other', 'Lebanon': 'Other', 'Morocco': 'Other', 'Armenia': 'Other', 'Jordan': 'Other', 'Tunisia': 'Other', 'Venezuela, Bolivarian Republic of...': 'Other', 'Georgia': 'Other', 'Guatemala': 'Other', 'Ecuador': 'Other', 'Uganda': 'Other', 'Albania': 'Other', 'Luxembourg': 'Other', 'Republic of Moldova': 'Other', 'Bolivia': 'Other', 'Nicaragua': 'Other', 'Saudi Arabia': 'Other', 'Azerbaijan': 'Other', 'Afghanistan': 'Other', 'El Salvador': 'Other', 'Paraguay': 'Other', 'Myanmar': 'Other', 'Kosovo': 'Other', 'Algeria': 'Other', 'The former Yugoslav Republic of Macedonia': 'Other', 'Ethiopia': 'Other', 'Panama': 'Other', 'Cuba': 'Other', 'Honduras': 'Other', 'Uzbekistan': 'Other', 'Iraq': 'Other', 'Qatar': 'Other', 'Nomadic': 'Other', 'Jamaica': 'Other', 'Zimbabwe': 'Other', 'Kyrgyzstan': 'Other', 'Cambodia': 'Other', 'Sudan': 'Other', 'Madagascar': 'Other', 'Mauritius': 'Other', 'Cameroon': 'Other', 'United Republic of Tanzania': 'Other', 'Bhutan': 'Other', 'Montenegro': 'Other', 'Trinidad and Tobago': 'Other', 'Oman': 'Other', 'Kuwait': 'Other', 'Mongolia': 'Other', 'Syrian Arab Republic': 'Other', 'Isle of Man': 'Other', 'Bahrain': 'Other', 'Haiti': 'Other', 'Botswana': 'Other', 'Guyana': 'Other', 'Rwanda': 'Other', 'Maldives': 'Other', 'Togo': 'Other', "Lao People's Democratic Republic": 'Other', 'Zambia': 'Other', 'Angola': 'Other', 'Mauritania': 'Other', 'Somalia': 'Other', "Côte d'Ivoire": 'Other', 'Democratic Republic of the Congo': 'Other', 'Bahamas': 'Other', 'Senegal': 'Other', 'Yemen': 'Other', 'Belize': 'Other', 'Niger': 'Other', 'Swaziland': 'Other', 'Saint Vincent and the Grenadines': 'Other', 'Monaco': 'Other', 'Namibia': 'Other', 'Turkmenistan': 'Other', 'Barbados': 'Other', 'Benin': 'Other', 'Fiji': 'Other', 'San Marino': 'Other', 'Guinea': 'Other', 'Andorra': 'Other'}

In [30]:
df['Country'] = df['Country'].map(country_map)
df.Country.value_counts()

Other                 8549
United States         7569
India                 2425
United Kingdom        2287
Germany               1903
Canada                1178
Brazil                 991
France                 972
Spain                  670
Australia              659
Netherlands            654
Poland                 566
Italy                  560
Russian Federation     522
Sweden                 514
Name: Country, dtype: int64

In [33]:
 df['Country'].map

<bound method Series.map of 7         United States
9        United Kingdom
10       United Kingdom
11                Spain
12          Netherlands
              ...
64135             Other
64148             Other
64152     United States
64153             Other
64154             Other
Name: Country, Length: 30019, dtype: object>